<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .foot {
            width: 1000px;
            margin:auto;
            text-align:center;
            position: relative;
            top:200px;
        }
        

    </style>
</head>
<body>
    <footer class="foot">
        <a href="#">&copy 2024 xgossip.com</a>
        <a href="#">Terms and conditions</a>
        <a href="#">Privacy policy</a>
    </footer>
</body>
</html>